/* default margin set css start*/

*{
	margin: 0;
}
/* default margin set css end*/


body{
	background: url('../img/bg/bg.jpg') no-repeat;
	font-family: 'Lobster', cursive;
	background-size:  cover;
}
/* default container css*/
.container{
	width: 1140px;
	margin: 0 auto;

}


/* middle-section css start*/
.middle-section{
	width: 100%;
	float: left;
	margin: 5% auto;
}


/* login form css start*/
.middle-section .login{
	width: 400px;
    margin: 0 auto;
}
.middle-section .login form{
	width: 400px;
	float: left;
	background-color: #21a889f0;
	border-radius: 10px;
}

.middle-section .login form img{
	width: 120px;
    height: 120px;
    display: block;
    margin: 0 auto;

}
.middle-section .login form h2{
	text-align: center;
    padding: 5px 0 10px 0px;
    color: #fff;
    font-weight: 300;
    font-size: 24px;
}
.middle-section .login form a{
	color: #fff;
    padding: 10px;
    display: block;
    text-decoration: none;
}
.middle-section .login form .form-control{
    padding: 8px 6px;
    border: 2px solid;
    border-color: #ddd;
    border-radius: 5px;
    width: 91%;
    margin: 10px 0 0 10px;
}
.middle-section .login form .login-btn{	
    padding: 3px 15px;
    border: 2px solid #cfff66;
    background-color: #2f935a;
    color: #fff;
    border-radius: 15px;
    margin: 5% auto;
    display: block;
}

.register-link{
    margin-top: -35px;
    float: right;
}
/* login form css end*/


/* middle-section css end*/






